/* tablet :  in general ( 500 - 1024)
    start from 450px
    end   at   700px 

    desktop :  in general ( tabled - 1440)
    start from 700px
    end   at   1440px  and greater
*/

/* Tablet */
@include media(tablet) {
  .grid-main {
    --gap: 30px;
    /// 2 => 2 gaps between 1-2 columns and  4-5 columns
    grid-template-columns:
      10px // space on left 10px + 30px gap
      repeat(6, calc((100% - 80px - var(--gap) * 5) / 6))
      10px; // space on right 10px + 30px gap
    gap: var(--gap);
  }

  .hero-image {
    grid-column: 5 / -1;
  }
  .hero-text {
    grid-column: 2 / span 3;
  }
}

/* Desktop 1200px */
@include media(desktop) {
  // 1fr  max(1200px) 1fr => centered on the screen
  .grid-main {
    --gap: 30px;
    /// 2 => 2 gaps between 1-2 columns and  4-5 columns
    grid-template-columns:
      1fr // take the remaining space
      repeat(12, calc((75rem - 80px - var(--gap) * 11) / 12))
      1fr; // take the remaining space
    gap: var(--gap);
  }

  .hero-image {
    grid-column: 8 /-2;
  }
  .hero-text {
    grid-column: 2 / 8;
  }

  .gray-block {
    display: block;
    grid-column: -2 /-1;
  }
}
